<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- css -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <!-- script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>Rakus Items</title>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/}">Rakus Items</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="logout" th:href="@{/login}">Logout <i class="fa fa-power-off"></i></a></li>
        </ul>
        <p class="navbar-text navbar-right">
          <span id="loginName">user: userName</span>
        </p>
      </div>
    </div>
  </nav>

  <div id="main" class="container-fluid">
    <!-- addItem link -->
    <div id="addItemButton">
      <a class="btn btn-default" href="./add.html" th:href="@{/item-add}"><i class="fa fa-plus-square-o"></i> Add New Item</a>
    </div>

    <!-- 検索フォーム -->
    <div id="forms">
      <form th:action="@{/}" class="form-inline" role="form" method="post" th:object="${itemSearchForm}">
        <div class="form-group">
          <input type="input" class="form-control" name="name" placeholder="item name" th:field="*{name}">
        </div>
        <div class="form-group"><i class="fa fa-plus"></i></div>
        <div class="form-group categorybox" style="display:flex">
          <div class="col-sm-8" style="flex-basis : 10px">
            <select class="form-control" id="parentCategory" name="parentCategory">
              <!-- th:selectedでvalueの値がparentIdのものに設定 -->
              <option th:each="parent:${parentMap}" th:value="${parent.key}" th:text="${parent.value}"
              th:selected="${parent.key==0}"></option>
            </select>
          </div>
          <div id="resultDiv1" class="col-sm-8" style="flex-basis : 10px">
            <!-- ajaxを使う前でもhtmlはfragmentを読み込むため、空のfragmentが最初に表示される。そのため、画面遷移時もajaxを使う必要がある。一応selectedで初期値を設定できるか、fragmentで、確かめる -->
            <div th:replace="select_ajax::selectChildCategory" th:fragment="selectAjaxChild">
            </div>
          </div>
          <div id="resultDiv2" class="col-sm-8" style="flex-basis : 10px">
            <div th:replace="select_ajax::selectGrandChildCategory" th:fragment="selectAjaxGrandChild">
            </div>
          </div>
        </div>
        <div class="form-group"><i class="fa fa-plus"></i></div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="brand" th:field="*{brand}">
        </div>
        <div class="form-group"></div>
        <button type="submit" class="btn btn-default"><i class="fa fa-angle-double-right"></i> search</button>
      </form>
    </div>

    <!-- pagination -->
    <div class="pages">
      <nav class="page-nav">
        <ul class="pager">
          <span th:unless="${page}==1">
            <li class="previous"><a href="#" th:href="@{/paging(page=${page},num=-1,name=${name},categoryId=${categoryId},brandName=${brandName})}">&larr; prev</a></li>
          </span>
          <span th:unless="${page}==${totalPage}">
            <li class="next"><a href="#" th:href="@{/paging(page=${page},num=1,name=${name},categoryId=${categoryId},brandName=${brandName})}">next &rarr;</a></li>
          </span>
        </ul>
      </nav>
    </div>

    <!-- table -->
    <div class="table-responsive">
      <table id="item-table" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>name</th>
            <th>price</th>
            <th>category</th>
            <th>brand</th>
            <th>cond</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item:${itemList}">
            <td class="item-name"><a th:href="@{'/item-detail?id='+${item.id}}" th:text="${item.name}"></a></td>
            <td class="item-price" th:text="${item.price}">52.0</td>
            <td class="item-category">
              <!-- categoryのidがいる -->
            <span th:each="category,stat:${item.categoryList}">
              <a th:href="@{/search?(name=${name},categoryId=${category.id},brandName=${brandName})}" th:text="${category.name}">Electronics</a>
              <span th:if="${stat.index==0}">/</span>
              <span th:if="${stat.index==1}">/</span>
            </span>
            </td>
            <td class="item-brand"><a th:href="@{/search?(name=${name},categoryId=${categoryId},brandName=${item.brandName})}" th:text="${item.brandName}">Razer</a></td>
            <td class="item-condition" th:text="${item.condition}">3</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- pagination -->
    <div class="pages">
      <nav class="page-nav">
        <ul class="pager">
          <span th:unless="${page}==1">
            <li class="previous"><a href="#" th:href="@{/paging(page=${page},num=-1,name=${name},categoryId=${categoryId},brandName=${brandName})}">&larr; prev</a></li>
          </span>
          <span th:unless="${page}==${totalPage}">
            <li class="next"><a href="#" th:href="@{/paging(page=${page},num=1,name=${name},categoryId=${categoryId},brandName=${brandName})}">next &rarr;</a></li>
          </span>
        </ul>
      </nav>
      <!-- ページ番号を指定して表示するフォーム -->
      <div id="select-page">
        <form class="form-inline" th:action="@{/paging-jump}" method="post" th:object="${pageForm}">
          <div class="form-group">
            <div th:text="${errormessage}"></div>
            <div class="input-group col-xs-6">
              <label></label>
              <input type="text" class="form-control" name="page"th:value="${page}"/>
              <input type="hidden" name="name" th:value="${name}">
              <input type="hidden" name="categoryId" th:value="${categoryId}">
              <input type="hidden" name="brandName" th:value="${brandName}">
              <!-- 総ページ数 -->
              <div class="input-group-addon" th:text="${totalPage}">/ 20</div>
            </div>
            <div class="input-group col-xs-1">
              <button type="submit" class="btn btn-default">Go</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/list.js"></script>
</body>
</html>