<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <link rel="stylesheet" href="./mercari.css" />
    <!-- script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <title>Rakus Items</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-inverse">
        <a class="navbar-brand" th:href="@{/}">Rakus Items</a>
    </nav>

    <!-- login form -->
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-10 col-xs-12">
            <div class="well">

                <form method="post" class="h-adr" th:action="@{/toInsert/insert}"
                    th:object="${insertUserForm}">
                        <legend>ユーザ登録</legend>
                        <div class="form-group">
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                            style="color: red"></div>
                        <label for="inputName">名前:</label><label class="control-label"
                            style="color: red" for="inputError"></label> <input type="text"
                            id="inputName" class="form-control" placeholder="山田太郎"
                            th:field="*{name}">
                    </div>
                    <div class="h-adr">
                        <span th:text="${emailError}" style="color: red"></span><br>
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            style="color: red"></div>
                        <label for="inputEmail">メールアドレス:</label><label
                            class="control-label" style="color: red" for="inputError"></label>
                        <input type="text" id="inputEmail" class="form-control"
                            placeholder="xxxx@xxxx.xxx" th:field="*{email}">
                    </div>
                    <div class="form-group">
                        <span th:text="${passwordError}" style="color: red"></span><br>
                        <div th:if="${#fields.hasErrors('password')}"
                            th:errors="*{password}" style="color: red"></div>
                        <label for="inputPassword">パスワード:</label><br> <label
                            class="control-label" style="color: red" for="inputError"></label>
                        <input type="password" id="inputPassword" class="form-control"
                            placeholder="8文字以上16字以下で入力してください" th:field="*{password}">
                    </div>
                    <div class="form-group">
                        <div th:if="${#fields.hasErrors('checkpassword')}"
                            th:errors="*{checkpassword}" style="color: red"></div>
                        <label for="inputConfirmationPassword">確認用パスワード:</label> <label
                            class="control-label" style="color: red" for="inputError"></label>
                        <input type="password" id="inputConfirmationPassword"
                            class="form-control" placeholder="8文字以上16字以下で入力してください"
                            th:field="*{checkpassword}">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">登録</button>
                        <button type="reset" class="btn btn-primary">クリア</button>
                    </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>