<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <select class="form-control" id="childCategory" name="childCategory" th:fragment="selectChildCategory">
        <option  th:each="category : ${selectAjaxCategoryMap}" th:value="${category.key}" th:text="${category.value}" th:selected="${category.key==childId}">singleSelect</option>
    </select>

    <select class="form-control" id="grandChildCategory" name="grandChildCategory" th:fragment="selectGrandChildCategory">
        <option  th:each="category : ${selectAjaxCategoryMap}" th:value="${category.key}" th:text="${category.value}" th:selected="${category.key==grandChildId}">singleSelect</option>
    </select>

    <!-- 検索ボックス用 -->
    <select class="form-control" id="childCategory" name="childCategory" th:fragment="searchSelectChildCategory">
        <option  th:each="category : ${selectAjaxCategoryMap}" th:value="${category.key}" th:text="${category.value}" th:selected="${category.key==categoryId}">singleSelect</option>
    </select>

    <select class="form-control" id="grandChildCategory" name="grandChildCategory" th:fragment="searchSelectGrandChildCategory">
        <option  th:each="category : ${selectAjaxCategoryMap}" th:value="${category.key}" th:text="${category.value}" th:selected="${category.key==categoryId}">singleSelect</option>
    </select>
</body>
    
</html>